# Основные зависимости
PyQt5==5.15.9
numpy>=1.26.0  # Обновленная версия для Python 3.13
numba>=0.59.0  # Совместимая версия с новым numpy

# Дополнительные зависимости для сборки
pyinstaller==6.0.0
cx_Freeze==6.15.0
setuptools>=68.0.0  # Добавляем явно для решения ошибки

# Для разработки (опционально)
pyqt5-tools==5.15.9.3.3
black==23.9.1
flake8==6.0.0